
h2{
color: #ffffff;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
    margin-top: 15px;
    background-color: white;
    border: 5px solid #42A5F5;
    
}
h5 {
    color: hsl(323, 57%, 64%);
}

p {
    color:blueviolet;
}

.row-colums {

    background-color: #E3ECF3;
}
.col {

    color:gray;
}

.todo-container {
    display:block;
    width:90%;
    padding:0.5em;
    margin-bottom: 5px;
    margin: 0.5em auto;
    background:#ffffff;
    border: 5px solid #42A5F5;
   
}

.todo-btn{
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    width: 75px;
}

.button.expanded {
    display: block;
    margin-top: 15px;
    background-color: #ba1780;
}


.button.expanded:hover {
    background-color: #D38ED3;
}
.alert {
    background: #EE2805;
    color:white;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;


}