<h2>ANGULAR TODO</h2>

<form [formGroup]="currentTodo" (ngSubmit)="addTodo(currentTodo.value)">
    <div class="form-container col">
<label for="title"></label>
  Title
  <input type="text" formControlName="title" placeholder="Add Title">
  <div class="alert" *ngIf="!currentTodo.controls['title'].valid && currentTodo.controls['title'].touched">This Field is Required and minimum 5 max 50 alphabets are required</div>    

<label for="description"></label>
Description
<textarea formControlName="description" placeholder="Add Todo Description"></textarea>
<label for="description"></label>
<div class="alert" *ngIf="!currentTodo.controls['description'].valid && currentTodo.controls['description'].touched">This Field is Required and minimum 5 max 300 alphabets are required</div>
</div>
<input type="submit" class="button expanded" value="Add Todo" [disabled]="!currentTodo.valid">
</form>

<div  class="todo-container">
   <div class="todolist-container" id="list" *ngFor="let todo of todos | async; let i = index" >
        <div class="row-colums" >
          <button class="button btn-danger todo-btn" (click)="deleteTodo(todo.key)">Delete</button>
          <button class="button todo-btn" (click)="editTodo(todo.key)">Edit</button>
          <h5>{{todo.title }}</h5>
          <p>{{todo.description}}
        </div>
      </div>
  


<div *ngIf="editMode"></div>